/** {
	border: 1px solid black;
}*/
* {
	box-sizing: border-box;
}

body {
/*	margin: auto;*/
	font-family: "Raleway", comic-sans;
	font-weight: 600;
	max-width: 100%;
	margin: 0;
	padding: 0;
	color: #44545E;
}

a {
	color: #7B98AA;
}

header {
	text-align: center;
}

header > nav {
	text-align: center;
	height: 3em;
	margin: 30px 35px 5px 35px;
}

header > nav > a {
	padding: 0 65px 0 65px;
	text-transform: uppercase;
	text-decoration: none;
	color: #8397A8;
}

header section {
	background-image: url("pt-1/starter-code/images/blog_header_bg.jpg");
	background-repeat: no-repeat;
    background-position: center;
/*    background-size: cover;*/
    background-attachment: fixed;
  /*  padding: 175px;*/
    height: 350px;
	/*margin-bottom: 48px;*/
}

h1 {
	color: white;
	letter-spacing: 1em;
	display: inline-block;
	margin-top: 200px;
	font-size: 2em;
}

h1, h2 {
	text-transform: uppercase;

}

h2 {
	color: #4D5760;
}

main {
	display: flex;
	flex-direction: row;
	justify-content: left;
	line-height: 1.618em;
	color: #44545E;
/*	flex-wrap: wrap;*/
/*	max-width: 50%;*/
}

article {
	color: #44545E;
    padding: 3em;
    width: 75%;
}

article > img {
	width: 100%;
}

article > p {
	width: 100%;
}

p {
	font-family: Lato;
    font-weight: 400;
}

aside {
	width: 25%;
	padding: 3em;
}

ul > li > a {
	text-decoration: none;
	text-transform: none;
	font-size: ,5em;
}
aside > img {
	width: 100%;
}

footer {
	background-color: #D8F3F6;
/*	height: 8em;*/
	text-align: center;

}

footer > nav a {
	text-decoration: none;
	color: #000000;
	font-size: 2em;
	padding: .5em .5em;
	display: inline-block;
}

footer > input {
/*	size: 4em;*/
	margin: 3em;
	padding: .5em 1em;
}

input [type=submit] {
	background-color: #D8F3F6;
}

input {
	border: 2px solid black;
}

body > h2 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 50%;
	margin: auto;
	padding: .5em;
	border: 2px solid black;
}

form > input {
	border: 2px solid black;
}

textarea {
	width: 100%;
	display: block;
	border: 2px solid black;
}
